:is(.dark) {
    #sortForm {
        option,
        input,
        select{
            background-color: rgb(2 6 23);

        }
    }
}

#sortForm {
    select,
    input,
    option {
        background-color: rgb(226 232 240);
    }

    input,select{
        text-align: center;
        border-radius: 6px;
        padding-inline: 8px;
        padding-block: 4px;
    }
}
