/* *{
    outline: red solid 2px;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
}
h3{
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}

main{
    min-height: 400px;
}

input{
    background-color: transparent;
    max-width: 100%;
}
